* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

main .left,
main .right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
}

main .left {
  background-color: #000;
  position: relative;
}

.left .code {
  flex: 1;
  overflow-y: auto;
  background-color: #0c0c0c;
  border-radius: 0.7rem;
  padding: 1rem;
}


.left .code pre,
.left .code pre code {
  height: 100%;
  white-space: pre-wrap;
  word-break: break-word;
}

main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(219, 219, 255);
  color: #000000;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
  transition: 0.2s ease;
}

main .left .review:hover {
  background-color: rgb(195, 195, 255);
}

main .right {
  background-color: #343434;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  overflow: auto;
}

.loading-text {
  color: #ccc;
  font-style: italic;
}
